@charset "UTF-8";
/**
 * Marp CVUT theme
 * @theme cvut
 * @author Miroslav Jarý <jarymiro@cvut.cz>
 * 
 * @auto-scaling true
 * @size 4:3 1536px 1152px
 * @size 16:9 1536px 864px
 */

@import "gaia";

@font-face {
    font-family: "Technika";
    src: url("../media/fonts/Technika-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Technika";
    src: url("../media/fonts/Technika-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Technika";
    src: url("../media/fonts/Technika-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Technika";
    src: url("../media/fonts/Technika-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

:root {
  font-family: "Technika";
  --color-background: #fff;
  --color-foreground: #000;
  --color-highlight: #0065BD;
  --color-dimmed: #2c2c2c;
}

:root.gaia {
  --color-background: #0065BD;
  --color-foreground: #fff;
  --color-highlight: #6AADE4;
  --color-dimmed: #ddd;
}

:root.invert {
  --color-background: #2c2c2c;
  --color-foreground: #fff;
  --color-highlight: #6AADE4;
  --color-dimmed: #ddd;
}

:root.invert pre {
    background: rgba(0, 0, 0, 0.1);
}

:root.invert code {
    color: white;
}

section.lead:not(.center) h2 {
    position: absolute;
    top: 1.225em;
}

section {
    padding: 50px 30px;
}

img[alt~="top-left"], img[alt~="top-right"], img[alt~="center-right"], img[alt~="bottom-right"], img[alt~="bottom-center"] {
    position: absolute;
}

img[alt~="top-right"], img[alt~="center-right"], img[alt~="bottom-right"] {
    right: 0.825rem;
}

img[alt~="top-right"], img[alt~="top-left"] {
    top: 4.5rem;
}

img[alt~="center-right"] {
    bottom: 50%;
    transform: translateY(50%);
}

img[alt~="bottom-center"], img[alt~="bottom-right"] {
    bottom: 1.875rem;
}

img[alt~="bottom-center"] {
    right: 50%;
    transform: translateX(50%);
}

ul {
    margin: .75rem 0;
}

ul>li>ul {
    margin: 0;
    font-size: .875em;
}

.lead p {
    margin: 0;
}